.inputWrapper {
  position: relative;

  &--error {
    & > input {
      border: 2px solid #cd2c2c;
    }

    &::before {
      content: 'Wrong format';
      position: absolute;
      top: 0;
      right: 0;
      transform: translateY(calc(-100% - 9px));
      font-size: 12px;
      color: #cd2c2c;
      font-weight: var(--fw-medium);
      letter-spacing: -0.21px;
    }
  }
}

.input--text,
.input--email,
.input--password,
.radioWrapper {
  font-family: inherit;
  font-size: 14px;
  font-weight: var(--fw-bold);
  padding: 1.357142857142857em 1.714285714285714em;
  color: var(--clr-7);
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  outline: none;
  transition: border-color 100ms ease-out;

  &::placeholder,
  &::-webkit-input-placeholder,
  &:-ms-input-placeholder {
    color: var(--clr-7--40);
  }

  &:focus {
    border-color: var(--clr-1);
  }
}

.radioWrapper {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--clr-7);
  padding-left: 52px;

  & input {
    appearance: none;
    position: absolute;
    opacity: 0;
  }

  &:focus-visible {
    border-color: var(--clr-1);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      border-color: var(--clr-1);
    }
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 16px;
    width: 20px;
    height: 20px;
    border: 1px solid #cfcfcf;
    border-spacing: 5px;
    border-radius: 50%;
    margin-right: 16px;
  }

  &::after {
    content: '';
    position: absolute;
    left: 21px;
    width: 10px;
    height: 10px;
    background-color: var(--clr-1);
    border-radius: 50%;
    transform: scale(0);
    transition: transform 100ms ease-out;
  }

  &--focused {
    border-color: var(--clr-1);
  }

  &--checked {
    border-color: var(--clr-1);

    &::after {
      transform: scale(1);
    }
  }
}
